# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Environment/config files
*.env
